*{
  margin: 0;
  padding: 0;
  text-decoration: none;

}

.title_app{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 100vw - 50px;
  background: linear-gradient(45deg, #DA0038, #daa700);
  color: #ffffff;
  font-size: 12px;
  border: 0.2px solid lightsalmon;
  
}

.container{
  display: flex;
  max-width: 100vw;
  max-height: 100vh; 
  
}

main{
  width: 100%;
  height: 100vh;
}

.sidebar{
  background: linear-gradient(45deg, #daa700, #DA0038 );
  color: #ffffff;
  height: 100vh;
  width: 270px;
  border-radius: 1px;
  border: 0.2px solid lightsalmon;
  transition: all 0.2s;
 
}

.top_section{
  display: flex;
  align-items: center;
  padding: 10px 10px;
}

.logo{
  font-size: 30px;
}

.bars{
  display: flex;
  font-size: 25px;
  margin-left: 25px;
}

.link{
  display: flex;
  color:#ffffff;
  padding: 5px 15px;
  gap: 15px;
  transition: all 0.5s;
}

.link:hover{
  background:#E3A3B4;
  color: #ffffff;
  transition: all 0.5s;
}


/*подсветка активного виджета*/
.active{
  background:#E3A3B4;
  color: #ffffff;
}

.link_text, .icon{
  font-size: 20px;
}